.twoslash {
  --twoslash-popup-bg: var(--vp-c-bg, inherit);
  --twoslash-underline-color: #8888;
  --twoslash-border-color: #8884;
}

.v-popper--theme-twoslash .v-popper__inner {
  background: var(--vp-c-bg);
  color: var(--vp-c-text-1);
  border-color: var(--vp-c-border);
}

.v-popper--theme-twoslash .v-popper__arrow-outer {
  border-color: var(--vp-c-border);
}

.v-popper--theme-twoslash .v-popper__arrow-inner {
  border-color: var(--vp-code-block-bg);
}

.twoslash-popup-info {
  transform: translateY(1.5em);
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translateY(1.8em);
}

.twoslash .v-popper {
  display: inline-block;
}

.floating-vue-twoslash .twoslash-popup-type {
  max-width: 600px;
  display: block;
  padding: 6px 12px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
  white-space: pre-wrap;
}

.floating-vue-twoslash .twoslash-popup-jsdoc {
  border-top: 1px solid var(--vp-c-border);
  color: var(--vp-c-text-1);
  padding: 0px 12px 0px 12px !important;
  font-family: var(--vp-font-family-base);
  font-size: 0.9em;
  max-height: 500px;
  max-width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.floating-vue-twoslash .twoslash-popup-jsdoc p {
  margin: 0;
  padding: 6px 0;
}

.floating-vue-twoslash .twoslash-popup-jsdoc pre {
  background-color: var(--vp-code-block-bg);
  border-radius: 8px;
  padding: 12px;
  margin: 6px -2px;
  overflow-x: auto;
}
