.cache
.DS_Store
.idea
*.log
*.tgz
coverage
dist
lib-cov
logs
node_modules
temp
tmp
packages/shiki/src/assets/langs
packages/shiki/src/assets/themes
packages/shiki/src/assets/*.json
cache
.eslintcache
report-engine-js-compat.json
scripts/compares
