body {
  max-width: 800px;
  margin: 4rem auto 4rem auto;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
}
pre {
  padding: 2rem;
  margin-bottom: 3rem;
}
pre code {
  font-family: 'Input Mono', Inconsolata, monospace;
  font-size: 12px;
}
h1, h2 {
  font-weight: 300;
}
