.twoslash {
  --twoslash-popup-bg: var(--vp-code-block-bg, inherit);
  --twoslash-underline-color: #8888;
  --twoslash-border-color: #8884;
}

.v-popper--theme-dropdown .v-popper__inner {
  background: var(--vp-code-block-bg);
  color: var(--vp-c-text-1);
  border-color: var(--vp-c-border);
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: var(--vp-c-border);
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border-color: var(--vp-code-block-bg);
}

.twoslash-popup-info {
  transform: translateY(1.5em);
}

.twoslash-query-presisted .twoslash-popup-info {
  transform: translateY(1.8em);
}

.twoslash .v-popper {
  display: inline-block;
}

.floating-vue-twoslash code {
  max-width: 600px;
  display: block;
  padding: 6px 12px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
  white-space: pre-wrap;
}
