.twoslash {
  --twoslash-popup-bg: var(--vp-code-block-bg, inherit);
  --twoslash-underline-color: #8888;
  --twoslash-border-color: #8884;
}

.v-popper--theme-dropdown .v-popper__inner {
  background: var(--vp-code-block-bg);
  color: var(--vp-c-text-1);
  border-color: var(--vp-c-border);
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: var(--vp-c-border);
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border-color: var(--vp-code-block-bg);
}
