/* ===== Basic ===== */
.twoslash {
  --twoslash-border-color: #8888;
  --twoslash-underline-color: currentColor;
  --twoslash-popup-bg: #f8f8f8;
  --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
  --twoslash-matched-color: #2e8f82;
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: #8888;
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: #d4565620;
}

/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  .twoslash * {
    transition: none !important;
  }
}

/* ===== Hover Info ===== */
.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash .twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
  position: relative;
}

.twoslash .twoslash-hover-info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(0, 1.2em);
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
  transition: opacity 0.3s;
  border-radius: 4px;
  padding: 6px 8px;
  pointer-events: none;
  z-index: 10;
  user-select: none;
  box-shadow: var(--twoslash-popup-shadow);
}

.twoslash .twoslash-hover:hover .twoslash-hover-info {
  opacity: 1;
  pointer-events: auto;
  user-select: unset;
}

/* ===== Error Line ===== */
.twoslash .twoslash-error-line {
  position: relative;
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
  padding: 6px 6px;
  margin: 0.2em 0;
}

.twoslash .twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

/* ===== Popover ===== */
.twoslash .twoslash-popover {
  position: relative;
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
  border-radius: 4px;
  padding: 6px 8px;
  margin: 0 -20px;
  z-index: 9;
  user-select: none;
  box-shadow: var(--twoslash-popup-shadow);
}

.twoslash .twoslash-popover-arrow {
  position: absolute;
  top: -5px;
  left: 1em;
  border-top: 1px solid var(--twoslash-border-color);
  border-right: 1px solid var(--twoslash-border-color);
  background: var(--twoslash-popup-bg);
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  pointer-events: none;
}

/* ===== Completeions ===== */
.twoslash .twoslash-completions ul {
  display: inline-block;
  position: absolute;
  width: 240px;
  background: var(--twoslash-popup-bg);
  border: 1px solid var(--twoslash-border-color);
  font-size: 0.8rem;
  margin: 3px 0 0 -1px;
  padding: 4px 0 0 0;
  border-left: 4px solid var(--twoslash-matched-color);
  z-index: 8;
  box-shadow: var(--twoslash-popup-shadow);
}
.twoslash .twoslash-completions ul::before {
  background-color: var(--twoslash-cursor-color);
  width: 2px;
  position: absolute;
  top: -1.6em;
  height: 1.4em;
  left: -4px;
  content: ' ';
}
.twoslash .twoslash-completions ul li {
  overflow-x: hidden;
  padding-left: 4px;
  margin-bottom: 4px;
}
.twoslash .twoslash-completions ul li span {
  color: var(--twoslash-unmatched-color);
}
.twoslash .twoslash-completions ul .deprecated {
  text-decoration: line-through;
  opacity: 0.75;
}
.twoslash .twoslash-completions ul li span.twoslash-completions-matched {
  color: var(--twoslash-matched-color);
}
