name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-2016]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: pnpm setup
        uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
          run_install: true

      - run: pnpm run build
      - run: pnpm run update
      - run: pnpm run gen
        working-directory: ./packages/site

      - run: pnpm run test
        env:
          CI: true
